#area-translator-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2147483647;
  cursor: crosshair;
  background-color: rgba(0, 0, 0, 0.322);
  user-select: none;
}

#area-translator-box {
  position: fixed;
  z-index: 2147483647;
  pointer-events: none;
  box-sizing: border-box;
  border: 2px dashed #1a73e8;
  background-color: rgba(26, 115, 232, 0.15);
}